<div class="relative isolate px-6 lg:px-8">
  <div class="mx-auto max-w-2xl py-32">
    <div class="text-center">
      <h3 class="text-3xl font-bold tracking-tight text-orange-600 sm:text-6xl">Type is not supported</h3>
      <p class="mt-2 text-lg leading-8 text-gray-600">Sorry! this app is for a demo purpose only.</p>
      <div class="mt-6 flex items-center justify-center gap-x-6">

        <app-back-to
          class="px-6 py-3 rounded-full border border-orange-600 hover:bg-orange-600 hover:text-white transition-all ease-in-out"></app-back-to>
      </div>
    </div>
  </div>
</div>