<div class="relative isolate px-6 lg:px-8">
  <div class="mx-auto max-w-2xl py-32">
    <div class="text-center">
      <h3 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Create your first field
      </h3>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        This is an empty state feature to showcase during Quickbase craft demo.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a [routerLink]="[FIELDS_BUILDER_ROUTE, 'create']" class="btn-primary">
          Create a field
        </a>
        <a
          [routerLink]="['/']"
          class="text-sm font-semibold leading-6 text-gray-900">
          Back to Home
          <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
  </div>
</div>
